.vscode/
ass2.pdf
pos/
ner/
nlp-2/
test-write/
*-model-mlp
code/notebooks/.vector_cache
code/notebooks/*.ipynb
code/notebooks/*.png
code/notebooks/*.ner
code/notebooks/*.pos
test2.ner
*.tgz
.DS_Store
results/
assignment1/
part2.txt

code/notebooks/submission/__pycache__/lib_tagger.cpython-38.pyc
code/notebooks/submission/__pycache__/tagger1.cpython-38.pyc
code/notebooks/submission/__pycache__/vocab.cpython-38.pyc
