.vscode/
ass2.pdf
pos/
ner/
nlp-2/
test-write/
*-model-mlp
code/notebooks/.vector_cache
code/notebooks/*.ipynb
code/notebooks/*.png
code/notebooks/*.ner
code/notebooks/*.pos
code/notebooks/.__pycahce__
test2.ner
*.tgz
.DS_Store
results/
assignment1/
part2.txt

